/* ul li::before {
    content: ' - ';
    background: red;
    color: #fff;
    display: block;
} */

p {
    font-size: 24px;
}

/* p::first-letter {
    font-size: 100px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line {
    background: red;
}

p::selection {
    background: black;
    color: white;
} */

/* ::placeholder {
    color: red;
} */

.form-field::placeholder {
    color: red;
}