* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 
    minmax(320px, 1fr));
}

.grid div {
    background: tomato;
    min-height: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.grid div:nth-child(5) {
    background: darkred;
}
