* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: [um] 1fr 
    [dois] 1fr 
    [tres] 1fr
    [quatro];
    grid-template-rows: [um] 1fr 
    [dois] 1fr 
    [tres] 1fr
    [quatro];
    gap: 30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background: darkred;
    grid-area: 1 / 1 / 4 / 4;
    /* grid-area: um / um / quatro / quatro; */
    /* grid-column: span 2 / span 2;
    grid-row: um / quatro; */
    /* grid-column: span 2 / 3; */
    /* grid-column: 1 / 3; */
    /* grid-column: um / quatro; */
    /* grid-column-start: um;
    grid-column-end: quatro; */
}
