* {
    margin: 0;
    padding: 0;
}

/* .pai .um~.dois {
    color: red;
} */

.pai .um +.dois {
    color: red;
}

/* [meu-atributo] { */
[meu-atributo="valor"] {
    color: red;
}

[checked] {
    width: 50px;
    height: 50px;
}