* {
    margin: 0;
    padding: 0;
}

.grid .col {
    /* display: inline-block; */
    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: right;
}

p {
    /* clear: left; */
    clear: both;
}