p {
    font-size: 60px;
    text-align: left;
    text-indent: 50px;
    /* text-shadow: 2px 2px red; */
    /* text-shadow: 2px 2px 5px red; */
    /* text-shadow: 5px 0 0 red; */
    /* text-shadow: -5px 3px 0 red; */
    /* text-shadow: -5px -3px 0 red; */
    text-shadow: -5px -3px 3px red;
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    text-transform: capitalize;
}