p {
    font-size: 20px;
    text-align: left;
    /* text-decoration: overline; */
    /* text-decoration: underline; */
    /* text-decoration: overline underline; */
    /* text-decoration: line-through; */
    /* text-decoration: line-through overline underline; */
}