p {
    font-size: 20px;
    text-align: left;
    /* text-shadow: 2px 2px red; */
    /* text-shadow: 2px 2px 5px red; */
    /* text-shadow: 1px 0 0 red; */
    /* text-shadow: -1px 1px 0 red; */
    /* text-shadow: -1px -1px 0 red; */
    text-shadow: -1px -1px 1px red;
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    text-transform: capitalize;
}