/* html, body {
    height: 100%
} */

.texto {
    background: red;
    width: 100%;
    height: 100%;
    max-width: 600px;
    /* max-height: 100%; */
    max-height: 500px;
    min-width: 0;
    min-height: 0;
    overflow: auto;
    margin: 0 auto;
}