* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-direction: row; */
    /* flex-direction: column; */
    justify-content: center;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* align-items: baseline; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: flex-start;
    /* align-items: stretch; */
    background: yellow;
    height: 500px;
    /* gap: 30px; */
}

.flex-item {
    color: #fff;
    /* width: 100%; */
    background: red;
    margin: 10px;
}

.flex-item:nth-child(3) {
    font-size: 40px;
}