/* 
ID   Classes, Atributos e Pseudo-classes   Elementos e Pseudo-elementos
1    0                                     0
0    1                                     0
1    1                                     0
1    1                                     1
2    1                                     1
2    1                                     2
 */

 #p {
    background: red;
 }

 /* .p { */
 #p.p {
    background:  yellow;
 }

 /* p#p.p { */
 /* #b p#p.p { */
 body#b p#p.p {
   background: purple;
 }