* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    /* flex-flow: row wrap; */
    background: yellow;
    height: 800px;
}

.flex-item {
    width: 100%;
    /* flex: 1 1 320px; */
    color: #fff;
    background: red;
}

.flex-item:nth-child(3) {
    align-self: flex-end;
}

.flex-item:nth-child(4) {
    align-self: center;
}

.flex-item:nth-child(2) {
    align-self: stretch;
}