* {
    margin: 0;
}

.pai {}

.filha1, .filha2 {
    width: 300px;
    height: 300px;
    background: rgba(255, 0, 0, 1);
    margin: 10px;
    position: static;
}

.filha2 {
    background: greenyellow;
    float: left;
}

.filha1 {
    position: absolute;
    /* width: auto;
    height: auto; */
    top: 50;   
    right: 50;
    /* left: 0;
    bottom: 0; */
}