* {
    margin: 0;
}

.pai {}

.filha1, .filha2 {
    width: 300px;
    height: 300px;
    /* background: red; */
    background: rgba(255, 0, 0, 0.800);
    margin: 10px;
    position: static;
}

.filha2 {
    background: greenyellow;
    float: left;
}

.filha1 {
    /* position: relative; */
    position: absolute;
    top: 50px;
    left: 50px;
}