html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

.pai {
    /* width: 10vw; */
    /* width: 100vw; */
    height: 100vh;
    background: yellow;
    overflow: hidden;
}

p {
    font-size: 1.6rem;
}

.color-one {
    background: turquoise;
}

.color-two {
    background: violet;
}