html {
    /* font-size: 20px; */
    /* font-size: 100%; */
    font-size: 62.5%;
}

.pai {
    /* font-size: 50px; */
    width: 30rem;
    height: 30rem;
    background: yellow;
}

p {
    font-size: 1.6rem;
}