* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    padding: 15px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    /* box-sizing: border-box; */
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    /* background: #FFFFFF;  /* 0123456789ABCDEF */
    /* background: #000000; */
    /* background: #ABC123; */
    /* background: rgb(0, 255, 0); */
    /* background: rgba(0, 0, 0, 0.70); */
    /* background: hsl(0, 100%, 50%); */
    background: hsla(0, 100%, 50%, 50%);
    color: #fff;
}