<article class="post">
	<header>
		<h2 class="post__title">
			Lorem ipsum dolor sit amet consectetur adipisicing elit
		</h2>
	</header>
	<div class="post__body">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quasi ipsum architecto molestiae, laudantium pariatur beatae blanditiis eum nemo ratione. Ipsum voluptatum facilis, sapiente adipisci dolorem, nostrum, commodi vitae tempore nesciunt enim sed. Odio, obcaecati iure deleniti inventore at beatae dolores cumque quibusdam officia ut? Adipisci distinctio hic architecto corrupti.
	</div>
</article>