* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .grid {
    padding: 15px;
} */

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 33.33%;
    /* width: 50%; */
    /* width: 100%; */
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
}

/* @media (max-width: 344px) { */
/* @media screen and (max-width: 344px) { */
/* @media all and (max-width: 344px) { */
/* @media all and (max-width: 344px) { */
@media all and (max-width: 578px) {
    .grid .col {
        width: 100%;
    }
}

/* @media all and (min-width: 345px) and (max-width: 882px) { */
@media all and (min-width: 579px) and (max-width: 882px) {
    .grid .col {
        width: 50%;
    }
}

@media all and  (min-width: 883px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1200px) {
    .grid .col {
        width: 25%;
    }
}