* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.grid {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px;
    /* padding-top: 58px; */
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 33.33%;
    /* width: 50%; */
    /* width: 100%; */
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
}

.menu {
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.842);
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}

.menu ul li a:hover {
    background: #333;
    transition: 300ms ease-in-out;
    /* transition: 300ms cubic-bezier(1, 0.28, 0, 0.79); */
}

.full-page {
    max-width: 100%;
    /* max-width: 1200px; */
    padding: 0 30px;
    margin: 0 auto;
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    padding-top: 73px;
    /* height: 100vh;
    background: turquoise; */
}

@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and  (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1200px) {
    .grid .col {
        width: 25%;
    }
}