* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(5),
.grid div:nth-child(6) {
    background: darkred;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

.grid div:nth-child(5) {
    background: yellow;
    z-index: 3;
    /* z-index: 1; */
}

.grid div:nth-child(6) {
    z-index: 2;
}