* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: repeat(2, 1fr 2fr); */
    grid-template-rows: 2fr 1fr 3fr;
    gap: 30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
}