* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    /* max-width: 1200px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    /* grid-template-columns: repeat(3, minmax(320px, 1fr)); */
    /* grid-template-columns: repeat(3, 1fr 2fr); */
    /* grid-template-columns: repeat(10, 1fr); */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    gap: 30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
}